/* Your custom styles */
@font-face {
	font-family: 'islw';
	src: url('../font/IRANSans-light-web/IRANSans-Light-web.eot');
	src: url('../font/IRANSans-light-web/IRANSans-Light-web.woff')
			format('woff'),
		url('../font/IRANSans-light-web/IRANSans-Light-web.woff2')
			format('woff2'),
		url('../font/IRANSans-light-web/IRANSans-Light-web.ttf')
			format('truetype');
}

html,
body,
header,
.view.jarallax {
	height: 100%;
	min-height: 100%;
}

/* .view.jarallax {
	background-image: url(../img/mountains-1412683.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
} */

@media (min-width: 800px) and (max-width: 850px) {
	.navbar:not(.top-nav-collapse) {
		background: #222 !important;
	}

	.navbar {
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
			0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
	}
}

.navbar:not(.top-nav-collapse) {
	background-color: transparent !important;
}

.navbar:not(.top-nav-collapse) .navbar-brand,
.navbar:not(.top-nav-collapse) .nav-link {
	color: #45526e !important;
}
